<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Heroes Cientificos </title>
</head>
<body>
    <h1>"Héroes de la Rama Científica":</h1>
    <p>En éste espacio conoceremos a algunos de los grandes <b>Maestros</b> del ámbito <strong>"informático"</strong>.</p>
    <ul>
        <li>
            <i>
                <b>
    <a href="https://es.wikipedia.org/wiki/Ada_Lovelace" target="_blank"><h2>"Ada Lovelace":</h2>
    </a></li>

    <li>
    <a href="https://es.wikipedia.org/wiki/Alan_Turing" target="_blank"><h2>"Alan Turing":</h2>
    </a></li>

    <li>
    <a href="https://es.wikipedia.org/wiki/Tim_Berners-Lee" target="_blank">

    <h2>"Tim Berners Lee":</h2></li></a>

    <li>
    <a href="https://es.wikipedia.org/wiki/Charles_Babbage" target="_blank">
    <h2>"Charles Babbage":</h2></li></a>

    <li>
    <a href="https://es.wikipedia.org/wiki/Grace_Murray_Hopper" target="_blank">
    <h2>"Grace Hopper":</h2></li></a>

    <li>
    <a href="https://es.wikipedia.org/wiki/Joan_Clarke" target="_blank">
    <h2>"Joan Clarke":</h2></li></a>

    <li>
    <a href="https://es.wikipedia.org/wiki/Margaret_Hamilton_(cient%C3%ADfica)" target="_blank">
    <h2>"Margaret Hamilton":</h2>
</li>
</a>
</i>
</b>
</ul>
</body>
</html>